 
        body {
            background: linear-gradient(135deg, #b97d78 0%, #ffb347 100%);
            min-height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            font-family: 'Segoe UI', Arial, sans-serif;
            color: #fff;
        }
        h1 {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
            letter-spacing: 2px;
            font-weight: bold;
            text-shadow: 1px 1px 8px rgba(0,0,0,0.15);
            text-align: left;
            align-self: flex-start;
            }
        p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
            font-style: italic;
            text-shadow: 1px 1px 6px rgba(0,0,0,0.10);
            
        }
        button {
            background: #fff;
            color: #2c3e50;
            border: none;
            border-radius: 25px;
            padding: 0.8rem 2rem;
            margin: 0.5rem;
            font-size: 1.1rem;
            font-weight: 600;
            cursor: pointer;
            box-shadow: 0 2px 8px rgba(0,0,0,0.10);
            transition: background 0.2s, color 0.2s;
        }
        button:hover {
            background: #ffb347;
            color: #fff;
        }
         .logo {
            width: 200px;
            height: auto;
            margin-bottom: 1rem;
           
             animation: fadeIn 2s ease-in-out;
        }
    